html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    color: #fff;
}

nav{
    position: fixed;
    height: 100vh;
    display: grid;
    align-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
    color: #CCC;
    text-decoration: none;
    background: #333;
    display: block;
    padding: .5em 2em .5em 1em;
    margin: .5em 0;
    border-left: 5px solid transparent;
    border-radius: 0 2em 2em 0;
}
nav a:hover {
    color: #fff;
    background: #000;
    border-left: 5px solid #fff;
}

section {
    min-height: 100vh;
    padding: 2em 2em 2em 9em;
    display: grid;
    align-content: center;
    justify-content: center;
}
a{
    color: #fff;
}
a:hover {text-decoration: none;}

#rood { background: red; }
#groen { background: green; }
#blauw { background: dodgerblue; }
#oranje { background: orange; }
#geel { background: yellow; color: #333}
